*{
  box-sizing:border-box;
  border: none;
}
body{
  /* font-size: 16px; */
  color:#fff;
  background-color: #000;
  /* background-color: #141518; */
}
#main-content{
  background-image:url('head1.jpeg');
  background-repeat: no-repeat;
  opacity: 0.6;
}

.navbar-brand{
  padding-top: 25px;
}

#company-name{
  font-family: 'Aclonica', sans-serif;
  color: #fff;
  font-size: 12px;
}
#header-nav{
  background-color: #000;
  border: none;
}
#main1{
  float:right;
  margin-top:6vh;
  background-color: #202020;
  height:80vh;
  border:2px solid white;
  padding: 40px;
  /* margin-bottom: 40px; */
}
#main1-login{
  /* color:#aa3a6f; */
  background-color:#ff0000;
  width:10vw;
  border: none;

}
.join-button{
  margin-top:15%;
  margin-left: 38%;
}
p{
  padding-top: 15vh;
  color:white;
  font-size: 2em;
  font-family: 'Aclonica', sans-serif;
  text-align: center;
}
#main2{
  margin-top: 15vh;
  height:20vh;
  background-color: #202020;
  margin-bottom: 15vh;

}
#main11{
  overflow:hidden;
  opacity:0.2;
}
#nav-list{
  margin-top: 10px;
}
a>h1{
  font-size: 2em;
}
li{
  margin:1em,0,1em,1em;
  padding:2em;
}
.navbar-default .navbar-nav>.active>a{
  background-color: transparent;
  color: #fff;
}
.navbar-default .navbar-nav>.active>a:hover{
  background-color: #000;
  color:#aa3a6f;
  text-shadow: 0 0 3px #aa3a6f;
}
@media (min-width: 992px){
  .col-md-6 {
      width: 49%;
  }
}
@media (min-width: 768px)and (max-width:991px) {
  #main1{
    width:43%;
    float:right;
    margin-top:6vh;
    background-color: #202020;
    height:40vh;
    border:2px solid white;
    padding-top: 4px;
    /* margin-bottom: 40px; */
  }
  p{
    padding-top: 5vh;
    color:white;
    font-size: 1.5em;
    font-family: 'Aclonica', sans-serif;
    /* text-align: center; */
  }
  .join-button{
    margin-top:15%;
    margin-left: 35%;
  }
}
@media (max-width:787px){
  #main1{
    width:43%;
    margin-right: 1vw;
    margin-left:10px;
    margin-top:80%;
    background-color: #202020;
    height:40vh;
    border:2px solid white;
    padding-top: 4px;
    width:100%;
    /* margin-bottom: 40px; */
  }
  p{
    padding-top: 3vh;
    color:white;
    font-size: 1.5em;
    font-family: 'Aclonica', sans-serif;
    /* text-align: center; */
  }
  .join-button{
    margin-top:15%;
    margin-left: 30%;
  }
  .container{
    margin-top:2em;
  }
  #company-name{
    font-family: 'Aclonica', sans-serif;
    color: #fff;
    font-size: 12px;
    margin-top: -2em;
  }
  #main1-login{
    /* color:#aa3a6f; */
    background-color:#ff0000;
    width:27vw;
    border: none;

  }
  a>h1 {
    font-size: 2em;
    margin-top: 0;
}
}
